{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block header %}<h1 class="text-center">О команде</h1>{% endblock %}
{% block content %}
{% load static %}
  <main role="main" class="container">  
      <div class="row" style="margin-top: 5%">
        <div class="col-4">
          <img class="card-img-top" src="/static/Ya.png" style="width: 50%;">
          <div class="card-title">
            <h3>Анна Юрышева</h3>
          </div>
          <div class="card-text">
            <h6>Единственный программист проекта, дорабатывает недочеты команды</h6>
            <p>С головой погружается в работу, кайфует от решения сложных вопросов (в процессе решения лучше не подходить, кусаутся).
               В свободное от программирование время работает воспитаелем в детском саду. В бэкенд влюбилась с первого взгляда.
            </p>
          </div>
        </div>
        <div class="col-4">
          <img class="card-img-top" src='/static/cat.png' style="width: 50%;">
          <div class="card-title">
            <h3>Кошка Ума</h3>
          </div>
          <div class="card-text">
            <h6>Стажер проекта, работает за еду</h6>
            <p>
              Главная обязанность - следить, чтобы в коде всегда присутствовали 098476muvysjkg][ae5]. С работой справляется исправно. В бэкенде не понимает.
            </p>
          </div>
        </div>
        <div class="col-4">
          <img class="card-img-top" src='/static/dog.png' style="width: 50%;">
          <div class="card-title">
            <h3>Собака Тиша</h3>
          </div>
          <div class="card-text">
            <h6>Бесполезный член команды.</h6>
            <p>Красиво сидит рядом и облизывает ноутбук. Разбирается в печеньках. Хотите печеньку?</p>
          </div>
        </div>
      </div>

      <!--<div class="container">
         <div class="row">
            <div class="col-6">
               <h1>Анна Юрышева</h1>
            </div> 
         </div> 
      </div> 
      <div class="container"> 
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Единственный программист проекта, дорабатываю недочеты команды</p>
            <p>С головой погружаюсь в работу, ловлю кайф от решения сложных вопросов (в процессе решения лучше не подходить, кусаюсь).
               В свободное от программирование время работаю воспитаелем в детском саду. В бэкенд влюбилась с первого взгляда.
            </p> 
          </div>  
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src='/static/Ya.png' style="width: 50%;"> 
          </div> 
        </div> 
      </div>  
      <div class="container">
        <div class="row">
           <div class="col-12">
              <h1>Кошка Ума</h1>
           </div> 
        </div> 
     </div> 
      <div class="container"> 
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Стажер проекта, работает за еду.</p>
            <p>Главная обязанность - следить, чтобы в коде всегда присутствовали 098476muvysjkg][ae5]. С работой справляется исправно.</p> 
          </div> 
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src='/static/cat.png' style="width: 50%;"> 
          </div> 
        </div> 
      </div>
      <div class="container">
        <div class="row">
           <div class="col-12">
              <h1>Собака Тиша</h1>
           </div> 
        </div> 
     </div>  
      <div class="container"> 
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Тупой, но верный член команды. Бросить не можем, придумали другие функции.</p>
            <p>В проекте отвечает за облизывание рабочего ноутбука и отдых всей команды от выполнения рабочих обязанностей.</p> 
          </div> 
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src='/static/dog.png' style="width: 50%;"> 
          </div> 
        </div> -->
       
  </main>
{% endblock %} 