{% extends "include/base.html" %}
{% block title %}About{% endblock %}
{% block header %}<h1 class="text-center">О команде</h1>{% endblock %}
{% block content %}
{% load static %}
  <main role="main" class="container">  
      <div class="row" style="margin-top: 5%">
        <div class="col-4">
          <img class="card-img-top" src="/static/Ya.png" style="width: 50%;">
          <div class="card-title">
            <h3>Анна Юрышева</h3>
          </div>
          <div class="card-text">
            <h6>Единственный программист проекта, дорабатывает недочеты команды</h6>
            <p>С головой погружается в работу, кайфует от решения сложных вопросов (в процессе решения лучше не подходить, кусаутся).
               В свободное от программирование время работает воспитаелем в детском саду. В бэкенд влюбилась с первого взгляда.
            </p>
          </div>
        </div>
        <div class="col-4">
          <img class="card-img-top" src='/static/cat.png' style="width: 50%;">
          <div class="card-title">
            <h3>Кошка Ума</h3>
          </div>
          <div class="card-text">
            <h6>Стажер проекта, работает за еду</h6>
            <p>
              Главная обязанность - следить, чтобы в коде всегда присутствовали 098476muvysjkg][ae5]. С работой справляется исправно. В бэкенде не понимает.
            </p>
          </div>
        </div>
        <div class="col-4">
          <img class="card-img-top" src='/static/dog.png' style="width: 50%;">
          <div class="card-title">
            <h3>Собака Тиша</h3>
          </div>
          <div class="card-text">
            <h6>Бесполезный член команды.</h6>
            <p>Красиво сидит рядом и облизывает ноутбук. Разбирается в печеньках. Хотите печеньку?</p>
          </div>
        </div>
      </div>
       
  </main>
{% endblock %} 