
{% load user_filters %}

{% if user.is_authenticated %}
<div class="card my-4" >
    <form method="post" action="{% url 'posts:add_comment' username=user.username post_id=post.id%}"  style="width: 100%;">
        {% csrf_token %}
        <h6 class="card-header">Добавить комментарий:</h6>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>
{% else %}
<div class="card my-4">
    <h6 class="card-header">Добавить комментарий:</h6>
    <div class="card-body">
        <div class="form-group">
            <span class="card-text" >Оставлять комментарии могут только зарегистрированные пользователи.</span>
        </div>
            <a class="btn btn-primary" href="{% url 'signup' %}" >Страница регистрации</a>
    </div>
</div>
{% endif %}

<div class="comments" style="width: 100%;">
    <h6 class="title-comments" style="margin-top: 2%; margin-left: 2%;"> Комментарии ({{comments.count}})</h6>
    <ul class="media-list">
            {% for comment in comments %}
            <li class="media">
                    <div class="media-body">
                        
                            <div class="media-heading">
                                <div class='row' style="margin-top: 2%;"> 
                                    <div class="author"> {{comment.author.get_full_name}} |
                                        <span class="date">{{ comment.created|date:"d M Y" }}</span>
                                    </div>
                                </div>
                            </div>
                    </div>
            </li>
            {{comment.text}}<hr>
            {% endfor %}  

</div>
